nav {
  width: 100%;
  height: 60px;
  background-color: #201c1c;
}
nav .links {
  width: 40%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
nav .links a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
  color: #f8f4ec;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
  background-color: #201c1c;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.site-container {
  width: 100%;
  margin: 0 auto;
}

.hero {
  width: 75%;
  height: 1000px;
  margin: 0 auto;
  position: relative;
  background-image: url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero .ribbon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  top: 150px;
}
.hero .ribbon-container .ribbon {
  width: 250px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  background-color: #201c1c;
  color: #f8f4ec;
}
.hero .ribbon-container .ribbon .title {
  font-size: 30px;
}
.hero .ribbon-container .ribbon .com {
  position: absolute;
  right: 25px;
  bottom: 0;
}
.hero .ribbon-container .tails {
  width: 30px;
  height: 60px;
}
.hero .ribbon-container .tails .triangle-one {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 0 0 30px;
  border-color: transparent transparent transparent #201c1c;
}
.hero .ribbon-container .tails .triangle-two {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 30px 0 0;
  border-color: #201c1c transparent transparent transparent;
}
.hero .hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.hero .hero-content .callout {
  width: 280px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #f8f4ec;
}
.hero .hero-content .callout .bubble {
  width: 24px;
  height: 16px;
  background-color: #888;
  position: relative;
  color: white;
  font-size: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero .hero-content .callout .bubble .triangle {
  width: 0;
  height: 0;
  bottom: -8px;
  left: 5px;
  border-style: solid;
  border-width: 8px 8px 0 0;
  border-color: #888 transparent transparent transparent;
  position: absolute;
}
.hero .hero-content .title {
  width: 450px;
  height: 100px;
  font-size: 44px;
  text-align: center;
  color: #f8f4ec;
}
.hero .hero-content .writer {
  width: 200px;
  height: 25px;
  color: #f8f4ec;
}

.container {
  width: 75%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.75)), to(rgba(255, 255, 255, 0.75))), url(../images/dispatch-banner.jpg);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url(../images/dispatch-banner.jpg);
}
.container .dispatch-title {
  font-weight: bold;
}
.container .more {
  font-weight: bold;
  color: #a33d3d;
}
.container .dispatch {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 auto;
}
.container .dispatch-event {
  width: 201px;
  text-transform: uppercase;
}
.container .dispatch-event .date-time {
  color: #888;
  font-size: 12px;
  margin-bottom: 6px;
}
.container .dispatch-event .dispatch-image img {
  width: 100%;
}
.container .dispatch-event .title-bubble {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container .dispatch-event .title-bubble .title h5 {
  margin-bottom: 4px;
}
.container .dispatch-event .title-bubble .bubble {
  width: 24px;
  height: 16px;
  background-color: #888;
  position: relative;
  color: white;
  font-size: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .dispatch-event .title-bubble .bubble .triangle {
  width: 0;
  height: 0;
  bottom: -8px;
  left: 5px;
  border-style: solid;
  border-width: 8px 8px 0 0;
  border-color: #888 transparent transparent transparent;
  position: absolute;
}

.explore-container {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  background-color: #f8f4ec;
}
.explore-container .advert {
  width: 1200px;
  height: 110px;
  margin: 0 auto;
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.explore-container .advert p {
  color: #a33d3d;
  font-size: 10px;
  margin-bottom: 2px;
}
.explore-container .advert .ad {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  background-image: url(../images/Banner-Wolf-Tooth-09-2022_2400x250.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.explore-container .bikepacking-one {
  width: 1200px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.explore-container .bikepacking-one .bikepacking-text {
  width: 720px;
  height: 75px;
  text-align: center;
  line-height: 1.5;
  font-weight: bold;
}
.explore-container .bikepacking-one .bikepacking-text span {
  border-bottom: solid 2px #8c9373;
}
.explore-container .bikepacking-one .bikepacking-image {
  width: 1000px;
  height: 300px;
  background-image: url(../images/bikepacking-101_sm.png);
  background-repeat: no-repeat;
  background-position: center;
}
.explore-container .explore-thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.explore-container .explore-thumb .explore-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: -20px;
  letter-spacing: 2px;
  z-index: 1;
}
.explore-container .explore-thumb .explore-header .left-tail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.explore-container .explore-thumb .explore-header .left-tail .left-top {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 20px 0;
  border-color: transparent #201c1c transparent transparent;
}
.explore-container .explore-thumb .explore-header .left-tail .left-bottom {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 20px 15px;
  border-color: transparent transparent #201c1c transparent;
}
.explore-container .explore-thumb .explore-header .right-tail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.explore-container .explore-thumb .explore-header .right-tail .right-top {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 15px 0 0;
  border-color: #201c1c transparent transparent transparent;
}
.explore-container .explore-thumb .explore-header .right-tail .right-bottom {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 0 15px;
  border-color: transparent transparent transparent #201c1c;
}
.explore-container .explore-thumb .explore-header .explore-title {
  font-weight: bold;
  padding: 10px 20px;
  background-color: #201c1c;
  color: white;
}
.explore-container .explore-thumb .explore-img {
  width: 1280px;
}
.explore-container .explore-thumb .explore-img img {
  width: 320px;
  height: 320px;
  margin-right: -4px;
}

.sponsors-container {
  width: 1200px;
  height: 400px;
  margin: 0 auto;
}
.sponsors-container h3 {
  font-size: 13px;
  text-align: center;
  margin-top: 50px;
  color: gray;
}
.sponsors-container .sponsors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sponsors-container .sponsors a {
  padding: 10px;
}
.sponsors-container .sponsors a img {
  width: 165px;
  height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 100%;
     object-position: 0% 100%;
}

.bipa-footer {
  width: 75%;
  height: 766px;
  margin: 0 auto;
  background-color: #8c9373;
}
.bipa-footer .footer-container .footer-logo {
  width: 400px;
  height: 250px;
  margin: 0 auto;
  background-image: url(../images/deer-tm.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bipa-footer .footer-container .footer-about {
  width: 60%;
  height: 75px;
  margin: 0 auto;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}
.bipa-footer .footer-container .tagline {
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: bold;
  text-align: center;
  color: #a33d3d;
}
.bipa-footer .footer-container .footer-social {
  width: 50%;
  height: 30px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.bipa-footer .footer-container .footer-social img {
  width: 25px;
  height: 25px;
}
.bipa-footer .footer-container .footer-lists {
  width: 100%;
  height: 250px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bipa-footer .footer-container .footer-lists .directory {
  width: 236px;
  height: 212px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
.bipa-footer .footer-container .footer-lists .directory ul {
  list-style-type: none;
}
.bipa-footer .footer-container .footer-lists .directory ul span {
  color: #a33d3d;
}
.bipa-footer .footer-container .footer-lists .directory ul li {
  margin-bottom: 10px;
}
.bipa-footer .footer-container .copyright {
  width: 75%;
  height: 50px;
  margin: 0 auto;
  text-align: center;
}